<header>
  <nav class="navbar navbar-light bg-light">

    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div class="d-flex flex-row">
        <a class="navbar-brand" href="/">
          <i class="fa-brands fa-pagelines fa-2xl" style="color: #2a9349; margin-right: 10px;"></i>
          Tutor Web
        </a>

        {{#if isSignIn}}

        {{#ifCond role 'user'}}
        <div class="d-flex flex-row">
          <a href="/users/{{../user.id}}" class="navbar-link">
            <h5>Name</h5>
          </a>

          <a href="/users/{{../user.id}}/applyTeacher" class="navbar-link me-3">
            <h5>成為老師</h5>
          </a>
        </div>
      </div>


      {{/ifCond}}

      {{#ifCond role 'teacher'}}

      <a href="/teachers/{{../user.id}}" class="navbar-link me-3">
        <h5>Name</h5>
      </a>
    </div>

    {{/ifCond}}

    {{#ifCond role 'admin'}}

    <a href="/admin" class="navbar-link me-3">
      <h5>使用者清單</h5>
    </a>
    </div>

    {{/ifCond}}

    <div class="align-items-center" style="justify-content:end">
      <a href="/logout" class="mx-2 navbar-link" style="text-decoration: none; color: inherit;">Log
        Out</a>
    </div>


    </div>

    {{else}}

    <div class="d-flex flex-row-reverse align-items-center">
      <a href="/signup" class="navbar-link me-3">
        Sign up
      </a>
      <a href="/signin" class="navbar-link me-3">
        Sign in
      </a>
    </div>

    {{/if}}

    {{!-- </div> --}}
  </nav>
</header>