<header>
  <nav class="navbar navbar-light bg-light">

    <div class="container-fluid d-flex justify-content-between align-items-center">
      <a class="navbar-brand" href="/">
        <i class="fa-brands fa-pagelines fa-2xl" style="color: #2a9349; margin-right: 10px;"></i>
        Tutor Web
      </a>


      {{#ifCond role 'admin'}}
        <div class="d-flex align-items-center">
          <a href="/admin" class="navbar-link me-3">
            <h5>使用者清單</h5>
          </a>
        </div>
      {{/ifCond}}
      
      
      {{#ifCond role 'teacher'}}
        <div class="d-flex align-items-center">
          <a href="/users/:id" class="navbar-link me-3">
            <h5>Name</h5>
          </a>
        </div>
      {{/ifCond}}


      {{#ifCond role 'user'}}
        <div class="d-flex align-items-center">
          <a href="/users/:id" class="navbar-link me-3">
            <h5>Name</h5>
          </a>
        </div>
        <div class="d-flex align-items-center">
          <a href="/users/:id/applyTeacher" class="navbar-link me-3">
            <h5>成為老師</h5>
          </a>
        </div>
      {{/ifCond}}

      <a href="/" class="navbar-link ms-auto">
        <h5>Log Out</h5>
      </a>

    </div>
  </nav>
</header>