<header>
  <nav class="navbar navbar-light bg-light">

    <div class="container-fluid d-flex justify-content-between align-items-center">
      <a class="navbar-brand" href="/">
        <i class="fa-brands fa-pagelines fa-2xl" style="color: #2a9349; margin-right: 10px;"></i>
        Tutor Web
      </a>

      {{#if isSignIn}}

      {{#ifCond role 'user'}}
      <div class="d-flex align-items-center">
        <a href="/users/{{../user.id}}" class="navbar-link me-3">
          <h5>Name</h5>
        </a>
      </div>
      <div class="d-flex align-items-center">
        <a href="/users/{{../user.id}}/applyTeacher" class="navbar-link me-3">
          <h5>成為老師</h5>
        </a>
      </div>
      {{/ifCond}}

      {{#ifCond role 'teacher'}}
      <div class="d-flex align-items-center">
        <a href="/teachers/{{../user.id}}" class="navbar-link me-3">
          <h5>Name</h5>
        </a>
      </div>
      {{/ifCond}}

      {{#ifCond role 'admin'}}
      <div class="d-flex align-items-center">
        <a href="/admin" class="navbar-link me-3">
          <h5>使用者清單</h5>
        </a>
      </div>
      {{/ifCond}}

      <div class="align-items-center">
        <li class="nav-item" style="justify-content:end">
          <a class="btn btn-primary btn-sm mx-2" href="/logout">Log Out</a>
        </li>
      </div>

      {{else}}

      <div>
        <a href="/signup" class="navbar-link ms-auto">
          Sign up
        </a>
        <a href="/signin" class="navbar-link ms-3">
          Sign in
        </a>
      </div>

      {{/if}}

    </div>
  </nav>
</header>