<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutor Web</title>

  <style>
    .navbar-link h5 {
      margin: 0;
      padding: 8px;
    }
    
  </style>
  
  <script src="https://kit.fontawesome.com/ddbd4af4ba.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/cssTemplate.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-light">

      <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/">
          <i class="fa-brands fa-pagelines fa-2xl" style="color: #2a9349; margin-right: 10px;"></i>
          Tutor Web
        </a>

        <div class="d-flex align-items-center">
          <a href="/users/:id/applyTeacher" class="navbar-link me-3">
            <h5>Name</h5>
          </a>

          {{#unless 'teacher'}}
          <a href="/users/:id/applyTeacher" class="navbar-link hidden">
            <h5>成為老師</h5>
          </a>
          {{else}}
          <a href="/users/:id/applyTeacher" class="navbar-link">
            <h5>成為老師</h5>
          </a>
          {{/unless}}
         
        </div>
        
       
        <a href="/" class="navbar-link ms-auto">
          <h5>Log Out</h5>
        </a>
       
      </div>
        
    </nav>
  </header>

  <main>
    <div class="container-fluid d-flex flex-column mx-auto my-3">
      {{{ body }}}
    </div>
  </main>

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>