<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutor Web</title>
  <script src="https://kit.fontawesome.com/ddbd4af4ba.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <i class="fa-brands fa-pagelines fa-2xl" style="color: #2a9349;"></i>
          Tutor Web
        </a>
      </div>
    </nav>
  </header>

  <main>
    <div class="container-fluid d-flex flex-column mx-auto my-3">
      {{{ body }}}
    </div>
  </main>

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>