
.navbar-link {
  text-decoration: none;
  /* 移除底线 */
  color: inherit;
  /* 使用默认文本颜色 */
}

.navbar-link h5 {
  margin: o;
  padding: 8px;
}

.card-text {
  max-height: 5em;
  /* 設定最大高度，相當於大約3行文字的高度 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.btn-score {
  margin: 0;
  display: inline-block;
  /* float: right; */
  position: relative;
}

.abbr {
  font-size: 0.5em;
  margin-right: 5px;
}

