<table class="table">
  <thead>
    <tr class="py-2" style="background-color:#f2f2f2">
      <th scope="col" class="text-center">編號</th>
      <th scope="col" class="text-center">名字</th>
      <th scope="col" class="text-center">是否成為老師</th>
    </tr>
  </thead>

  <tbody>
    <tr class="py-2">
      {{#each users}}
      <td class="text-center">{{ this.id }}</td>
      <td class="text-center">{{ this.name }}</td>
      <td class="text-center">{{ this.role }}</td>
      {{/each}}
    </tr>
  </tbody>
</table>
