<div class="container-fluid">
  <div class="row px-5">
    <div class="col-md-10">
      <div class="col-4 mb-4">
        <h5 class="my-2"><b>Name</b></h5>
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="col-4 mb-4">
        <h5 class="my-2"><b>Nation</b></h5>
        <input type="text" class="form-control" placeholder="Nation english name">
      </div>

      <h5 class="my-2"><b>Your Introduction</b></h5>
      <div class="mb-4">
        <input type="text" class="form-control" placeholder="Text">
      </div>

      <h5 class="my-2"><b>Your Teaching Style</b></h5>
      <div class="mb-4">
        <input type="text" class="form-control" placeholder="Text">
      </div>

      <h5 class="my-2"><b>單堂課程時間(分鐘)</b></h5>
      <div class="mb-4">
        <input type="number" class="form-control" placeholder="Number">
      </div>

      <h5 class="my-2"><b>課程式訊連結</b></h5>
      <div class="mb-4">
        <input type="url" class="form-control" placeholder="url">
      </div>

      <h5 class="my-2"><b>開放預約</b></h5>
      <div class="d-flex">
        <div class="mb-4 me-3">
          <input type="checkbox" id="Mon." name="Mon.">
          <label for="Mon">Mon.</label>
        </div>
        <div class="mb-4 me-3">
          <input type="checkbox" id="Tue." name="Tue.">
          <label for="Tue">Tue.</label>
        </div>
        <div class="mb-4 me-3">
          <input type="checkbox" id="Wed." name="Wed.">
          <label for="Wed">Wed.</label>
        </div>
        <div class="mb-4 me-3">
          <input type="checkbox" id="Thur." name="Thur.">
          <label for="Thur">Thur.</label>
        </div>
        <div class="mb-4 me-3">
          <input type="checkbox" id="Fri." name="Fri.">
          <label for="Fri">Fri.</label>
        </div>
        <div class="mb-4 me-3">
          <input type="checkbox" id="Sat." name="Sat.">
          <label for="Sat">Sat.</label>
        </div>
        <div class="mb-4 me-3">
          <input type="checkbox" id="Sun." name="Sun.">
          <label for="Sun">Sun.</label>
        </div>
      </div>


    </div>
  </div>
</div>