<div class="row m-5 d-flex justify-content-center">
  <div class="col-sm-6">
    <h3 class="text-center"><b>分享本次課程體驗</b></h3>
    <div class="m-5 mt-5">
      <select id="appointmentTime" class="form-select">
        <option disabled selected>Time</option>
      </select>
    </div>
    <div class="m-5">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Comments">
    </div>
  </div>
</div>