<form action="/users/{{ user.id }}/class">
  <div class="row m-5 d-flex justify-content-center">
    <div class="col-sm-6">
      <h3 class="text-center"><b>預約上課 !</b></h3>
      <div class="m-5 mt-5">
        <select id="appointmentTime" class="form-select">
          {{#each availableTime}}
          <option>{{this}}</option>
          {{/each}}
        </select>
      </div>
      <div class="m-5">
        <input type="name" class="form-control" id="teacherName" name="teacherName" value={{teacherInfo.name}}
          placeholder="Teacher's Name">
      </div>
      <div class="m-5">
        <input type="link" class="form-control" id="classUrl" name="classUrl" value={{teacherInfo.Class.classUrl}}
          placeholder="Teacher's Meeting Link">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-success">Submit</button>
      </div>
      <div class="text-center">
        <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
      </div>
    </div>
  </div>
</form>