<div class="row m-5 d-flex justify-content-center">
  <div class="col-sm-6">
    <h3 class="text-center"><b>預約上課 !</b></h3>
    <div class="m-5 mt-5">
      <select id="appointmentTime" class="form-select">
        <option disabled selected>請選擇時間</option>
      </select>
    </div>
    <div class="m-5">
      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Teacher's Name">
    </div>
    <div class="m-5">
      <input type="link" class="form-control" id="exampleFormControlInput1" placeholder="Teacher's Meeting Link">
    </div>
  </div>
</div>