<div class="col-12 d-flex flex-column mx-3 my-3">
  <div class="col-6 d-flex justify-content-start">
    <div class="col-6 d-flex">
      <div class="col-12">
        <img src="https://loremflickr.com/g/300/300/pomeranian,dog/?lock=100" alt=""  width="100%" height="auto">
      </div>
      <div class="col-12 d-flex flex-column">
        <br>
        <h3 class="text-center"><b>Name</b></h3>
        <br>
        <br>
        <div class="d-flex align-items-center justify-content-center">
          <h1 class="abbr">{{abbr}}</h1>
          <h6 class="inline-block"><b>Nation</b></h6>
        </div>
        
        <div class="d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-heart pe-2" style="color: #337a5f;"></i>
          <h6 class="inline-block"><b>score</b></h6>
        </div>
      </div>
      <div class="col-6">
        <div class="col-10 d-flex flex-column">
          <h6 class="mb-3 p-2" style="background-color:beige">
            預約上課
          </h6>
          <div class="dropdown">
            <button class="btn btn-dropdown btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Time
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            </ul>
          </div>
          <br>
          <a href="/users/:id/class">
            <button type="button" class="btn btn- reserve btn-outline-success">Submit</button>
          </a>
        </div>
      </div>

    
    </div>
  </div>
  <br>
  <div class="col-12 pe-5 d-flex flex-column justify-content-end">
    <h5 class="my-2"><b>Introduction</b></h5>
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In purus nisl, accumsan a velit a.consectetur
      adipiscing elit. In purus nisl, accumsan a velit a.
    </h6>
    <br>
    <h5 class="my-2"><b>Teaching Style</b></h5>
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In purus nisl, accumsan a velit a.consectetur
      adipiscing elit. In purus nisl, accumsan a velit a.
    </h6>
    <br>
    <h5 class="my-2 pt-2"><b>Lesson History</b></h5>
    <div class="col-12 d-flex flex-column">
      <div class="d-flex align-items-center">
        <span class="px-2 py-2" style="background-color:beige">
          4.8
        </span>
        <h6 class="inline-block py-3 ps-2"></h6>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
