<div class="col-4 m-3">
  <h5 class="my-2"><b>Name</b></h5>
  <input type="text" class="form-control" placeholder="Name">
</div>

<div class="col-4 m-3">
  <h5 class="my-2"><b>Nation</b></h5>
  <input type="text" class="form-control" placeholder="Nation">
</div>

<div class="col-10 m-3">
  <h5 class="my-2"><b>About Me</b></h5>
  <input type="text" class="form-control" placeholder="About Me">
</div>

<div class="ms-3 my-5">
  <button class="btn btn-outline-success" type="submit">Submit</button>
</div>
